<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        /* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: black;
  color: whitesmoke;
  padding: 34px 24px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */


/* Create an active/current "tab button" class */
.tab button.active {
  background-color: green;
}

/* Style the tab content */
.tabcontent {
  background-image: url('/images/back.jpg');;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 441px;
  display: none;
}


    </style>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <br><br><br><br><br>
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Reporting HTP</button>
                <button class="tablinks" onclick="openCity(event, 'Paris')">Reporting INOVCOM</button>
                <button class="tablinks" onclick="openCity(event, 'Tokyo')">Reporting RETOUR</button>
                <button class="tablinks" onclick="openCity(event, 'Indu')">Reporting INDU</button>
                <button class="tablinks" onclick="openCity(event, 'Contetieux')">Reporting CONTETIEUX</button>
              </div>
              
              <div id="London" class="tabcontent">
                  <br>
                  <br>
                  <br>
                  <br>
                  <div class="row" style="background-color: white;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;border-radius: 10px;box-shadow:10px 5px 5px green;"> 
                    <div class="col-md-4">
                        <br><br>
                        <br>
                        <div class="row" style="border-radius: 100px;background-color:whitesmoke;height:200px;width:200px;margin-left: 10px;box-shadow: 5px 5px 5px 5px green;">
                            <br><br>
                            <h3 style="margin-left: 45px;">Reporting</h3>
                            <h2  style="margin-left: 65px;">HTP</h2>
                        </div>
                        <br><br>
                    </div>
                    <div class="col-md-8" style="background-color: white;">
                        <br><br><br>
                        <form  style="background-color: white;" method="POST" action="/reportinghtp">
                            <div class="form-group" >
                              <h4>Choisir une date pour votre reporting</h4><br><br>
                              <input type="date" class="form-control" value="<%- date %>" name="date" required >
                            </div>
                            <br>
                            <button type="submit" class="btn btn-default">Importer</button>
                        </form>
                    </div>
                </div>
                  <!-- Import 58-->
                  <div class="col-md-8" style="background-color: white;">
                    <br><br><br>
                    <form  style="background-color: white;" method="POST" action="/reportinghtp1">
                        <div class="form-group" >
                          <h4>Choisir une date pour votre reporting</h4><br><br>
                          <input type="date" class="form-control" value="<%- date %>" name="date">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-default">Importer 58</button>
                        <br><br>
                        <br><br>
                        
                        
                    </form>
                </div>
                  <!-------------->
                <!-- Import INDU-->
                <div class="col-md-8" style="background-color: white;">
                    <br><br><br>
                    <form  style="background-color: white;" method="POST" action="/reportinghtpIndu">
                        <div class="form-group" >
                          <h4>Choisir une date pour votre reporting</h4><br><br>
                          <input type="date" class="form-control" value="<%- date %>" name="date">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-default">Importer Indu</button>
                        <br><br>
                        <br><br>
                        
                        
                    </form>
                </div>
                <!-------------->
                <!-- Import RETOUR-->
                <div class="col-md-8" style="background-color: white;">
                  <br><br><br>
                  <form  style="background-color: white;" method="POST" action="/reportinghtpRetour">
                      <div class="form-group" >
                        <h4>Choisir une date pour votre reporting</h4><br><br>
                        <input type="date" class="form-control" value="<%- date %>" name="date">
                      </div>
                      <br>
                      <button type="submit" class="btn btn-default">Importer Retour</button>
                      <br><br>
                      <br><br>
                      
                      
                  </form>
              </div>
              <!-------------->
            <!-- Import CONTENTIEUX-->
            <div class="col-md-8" style="background-color: white;">
              <br><br><br>
              <form  style="background-color: white;" method="POST" action="/reportinghtpContentieux">
                  <div class="form-group" >
                    <h4>Choisir une date pour votre reporting</h4><br><br>
                    <input type="date" class="form-control" value="<%- date %>" name="date">
                  </div>
                  <br>
                  <button type="submit" class="btn btn-default">Importer Contentieux</button>
                  <br><br>
                  <br><br>
                  
                  
              </form>
          </div>
          <!-------------->

                </div>
              <div id="Paris" class="tabcontent">
                <br>
                  <br>
                  <br>
                  <br>
                 
                  <div class="row" style="background-color: white;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;border-radius: 10px;box-shadow:10px 5px 5px green;"> 
                    <div class="col-md-4">
                        <br><br>
                        <br>
                        <div class="row" style="border-radius: 100px;background-color:whitesmoke;height:200px;width:200px;margin-left: 10px;box-shadow: 5px 5px 5px 5px green;">
                            <br><br>
                            <h3 style="margin-left: 45px;">Reporting</h3>
                            <h2  style="margin-left: 25px;">INOVCOM</h2>
                        </div>
                       
                        
                        <br><br>
                    </div>
                    <div class="col-md-8" style="background-color: white;">
                        <br><br><br>
                        <form  style="background-color: white;" method="POST" action="/reportinginovcom">
                            <div class="form-group" >
                              <h4>Choisir une date pour votre reporting</h4><br><br>
                              <input type="date" class="form-control" name="date">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-default">Importer</button>
                            <br><br>
                            <br><br>
                            
                            
                        </form>
                    </div>
                </div>
                
              </div>
              
              <div id="Tokyo" class="tabcontent">
                <br>
                <br>
                <br>
                <br>
               
                <div class="row" style="background-color: white;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;border-radius: 10px;box-shadow:10px 5px 5px green;"> 
                  <div class="col-md-4">
                      <br><br>
                      <br>
                      <div class="row" style="border-radius: 100px;background-color:whitesmoke;height:200px;width:200px;margin-left: 10px;box-shadow: 5px 5px 5px 5px green;">
                          <br><br>
                          <h3 style="margin-left: 45px;">Reporting</h3>
                          <h2  style="margin-left: 35px;">RETOUR</h2>
                      </div>
                     
                      
                      <br><br>
                  </div>
                  <div class="col-md-8" style="background-color: white;">
                      <br><br><br>
                      <form  style="background-color: white;" method="POST" action="/reportinghtp">
                          <div class="form-group" >
                            <h4>Choisir une date pour votre reporting</h4><br><br>
                            <input type="date" class="form-control" name="date">
                          </div>
                          <br>
                          <button type="submit" class="btn btn-default">Importer</button>
                          <br><br>
                          <br><br>
                          
                          
                      </form>
                  </div>
              </div>
              
              </div>

              <div id="Indu" class="tabcontent">
                <br>
                <br>
                <br>
                <br>
               
                <div class="row" style="background-color: white;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;border-radius: 10px;box-shadow:10px 5px 5px green;"> 
                  <div class="col-md-4">
                      <br><br>
                      <br>
                      <div class="row" style="border-radius: 100px;background-color:whitesmoke;height:200px;width:200px;margin-left: 10px;box-shadow: 5px 5px 5px 5px green;">
                          <br><br>
                          <h3 style="margin-left: 45px;">Reporting</h3>
                          <h2  style="margin-left: 60px;">INDU</h2>
                      </div>
                     
                      
                      <br><br>
                  </div>
                  <div class="col-md-8" style="background-color: white;">
                      <br><br><br>
                      <form  style="background-color: white;" method="POST" action="/reportinghtp">
                          <div class="form-group" >
                            <h4>Choisir une date pour votre reporting</h4><br><br>
                            <input type="date" class="form-control" name="date">
                          </div>
                          <br>
                          <button type="submit" class="btn btn-default">Importer</button>
                          <br><br>
                          <br><br>
                          
                          
                      </form>
                  </div>
              </div>
              
              </div>

              <div id="Contetieux" class="tabcontent">
                <br>
                <br>
                <br>
                <br>
               
                <div class="row" style="background-color: white;margin-left: 20px;margin-right: 20px;margin-bottom: 20px;border-radius: 10px;box-shadow:10px 5px 5px green;"> 
                  <div class="col-md-4">
                      <br><br>
                      <br>
                      <div class="row" style="border-radius: 100px;background-color:whitesmoke;height:200px;width:200px;margin-left: 10px;box-shadow: 5px 5px 5px 5px green;">
                          <br><br>
                          <h3 style="margin-left: 45px;">Reporting</h3>
                          <h3  style="margin-left: 10px;">CONTENTIEUX</h3>
                      </div>
                     
                      
                      <br><br>
                  </div>
                  <div class="col-md-8" style="background-color: white;">
                      <br><br><br>
                      <form  style="background-color: white;" method="POST" action="/reportinghtp">
                          <div class="form-group" >
                            <h4>Choisir une date pour votre reporting</h4><br><br>
                            <input type="date" class="form-control" name="date">
                          </div>
                          <br>
                          <button type="submit" class="btn btn-default">Importer</button>
                          <br><br>
                          <br><br>
                          
                          
                      </form>
                  </div>
              </div>
              
              </div>

        </div>
    </div>
    
</body>
<script>
    function openCity(evt, cityName) {
        document.getElementById("defaultOpen").click();
  // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }
document.getElementById("defaultOpen").click();
</script>
</html>